/*Media Queries*/
@media (max-width: 800){
    table, tr, th, td{
        font-size: medium;
    }
}


.container{
    flex-wrap: wrap;
    display: flex;
}

.jumbotron.index-jumbo{
    background-image: url("images/sea.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron.sb-jumbo{
    background-image: url("images/sbbanner.jpg");
    background-size: contain;
}

.jumbotron.pr-jumbo{
    background-image: url("images/prbanner.jpg");
    background-size: contain;
}

.jumbotron.cotw-jumbo{
    background-image: url("images/champbanner.jpg");
    background-size: contain;
}

.welcome{
    font-weight: 600;
    font-size: 400%;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}

.title-sub{
    font-weight: 600;
    font-size: 150%;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}

.html {
    background-color: #ffeac7;
  }

.carousel-caption{
    font-size: 200%;
    text-shadow: 2px 2px 4px #000000;    
} 

.d-block{
    object-fit: cover;
    max-height: 500px;
}

h1{
    text-shadow: 2px 2px 4px #000000;
}

.nav-link{
    font-weight: bold;
}

table, tr, th, td{
    padding: 15px;
    font-size: medium;
    width: max-content;
}

.resize{
    max-width: 80%;
}

.resize2{
    max-width: 100%;
}

.resize3{
    max-width: 90%;
}

.feature{
    width: 100%;
    height: 80vh;
    background-size:cover;
    background-attachment: fixed;
}

#fixed_fleetwood {
    background-image:url(images/fleetwoodmac.jpg);
    background-position-x: center;
    background-position-y: top;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}

.lyrics-button{
    width: 100%;
    margin-bottom: 2rem;
}

#fixed_prince {
    background-image:url(images/prince.jpeg);
    background-position-x: center;
    background-position-y: top;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}

#fixed_coldplay {
    background-image:url(images/coldplay.jpg);
    background-position-x: center;
    background-position-y: center;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}